.section {
  &__title {
    color: $light;
    font-family: $fontTitle;
    text-transform: uppercase;
    text-align: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    gap: 1.5rem;
    @include sm {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }
}
